{% extends "layout.html.jinja" %}
{% block title %}
Dobot Spoon
{% endblock title %}
{% block content %}
    {% if device and device.ser and device.state == Enums.ConnectState.CONNECTED %}
        <div class="w-100 show-connected">
    {% else %}
        <div class="w-100 show-connected d-none">
    {% endif %}
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Operate Scoop Motion</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="lower" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="lower">Lower</a>
                </div>
                <div class="col-4 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="scoop" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="scoop">Scoop</a>
                </div>
                <div class="col-4 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="raise" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="raise">Raise</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Go Straight to a Position</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="up" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="up">Up</a>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="back" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="back">Back</a>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="down" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="down">Down</a>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="scoopPosition" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="scoopPosition">Scoop</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Profiles</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="loadProfiles" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="loadProfiles">Reload Profiles</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <label for="profile">Profile</label>
                    <select id="profile" name="profile">
                    {% for p in profiles %}
                        <option>{{ p.name }}</option>
                    {% endfor %}
                    </select>
                    <a id="load-profile" class="btn btn-lg btn-primary" href="#" data-url="loadProfile" data-use-ws="true" data-type="addon-command" data-addon="spoon" data-command="loadProfile">Load</a>
                </div>
            </div>
            {% include "controls/speed.html.jinja" %}
            {% include "controls/mainButtons.html.jinja" %}
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-lg btn-primary btn-fill btn-operation" href="#" data-url="/controls/home">Home</a>
                </div>
            </div>
        </div>
    {% if device and device.ser and device.state == Enums.ConnectState.NOT_CONNECTED %}
        <div class="w-100 show-disconnected">
    {% else %}
        <div class="w-100 show-disconnected d-none">
    {% endif %}
            <div class="row">
                <div class="col-12 text-center">
                    Please connect to a Dobot to continue.
                </div>
            </div>
        </div>
{% endblock content %}
{% block mainScript %}
        $('#load-profile').click(e => {
            e.preventDefault()
            {# console.log(e.currentTarget.dataset) #}
            {# console.log(ws) #}
            d = {
                type: 'command',
                profileName: $('#profile').val()
            }
            for (f in e.currentTarget.dataset) {
                d[f] = e.currentTarget.dataset[f]
            }
            {# console.log(d) #}
            if (e.currentTarget.dataset['useWs'] && ws && ws.readyState === WebSocket.OPEN) {
                ws.send(JSON.stringify(d))
            }
            else {
                $.get(e.currentTarget.dataset['url'], d, data => {
                    console.log(data)
                })
            }
        })
{% endblock mainScript %}
{% block onWSMessage %}
                            if (data.addon === 'spoon') {
                                switch(data.type) {
                                    case 'loadProfiles':
                                        options = ''
                                        for (p in data.profiles) {
                                            options += `<option>${data.profiles[p].name}</option>`
                                        }
                                        $('#profile').html(options)
                                        break;
                                }
                            }
{% endblock onWSMessage %}
