
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Manual Movement</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <label for="steps">Steps</label><input type="number" id="steps" name="steps" value=10 />
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-none d-sm-block text-center">
                    <svg height=169 width=355>
                        <g id="xy-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="xp">
                                <path d="M 27,31 A 75 75 0 0 0 27, 137 L 80,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="35" y="94" height="30" text-anchor="middle" font-size="25pt">X+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="xn">
                                <path d="M 141,137 A 75 75 0 0 0 141 31 L 88,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="138" y="94" height="30" text-anchor="middle" font-size="25pt">X-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="yn">
                                <path d="M 137,27, A 75 75 0 0 0 31,27 L 84,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="50" height="30" text-anchor="middle" font-size="25pt">Y-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="yp">
                                <path d="M 31,141 A 75 75 0 0 0 137,141 L 84,88 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="143" height="30" text-anchor="middle" font-size="25pt">Y+</text>
                            </a>
                        </g>

                        
                        <g id="rz-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="rp">
                                <path d="M 214,31 A75 75 0 0 0 214,137 L 267,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="222" y="94" height="30" text-anchor="middle" font-size="25pt">R+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="rn">
                                <path d="M 328,137 A75 75 0 0 0 328,31 L 275,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="325" y="94" height="30" text-anchor="middle" font-size="25pt">R-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="zp">
                                <path d="M 324,27 A75 75 0 0 0 218,27 L 271,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="274" y="50" height="30" text-anchor="middle" font-size="25pt">Z+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="zn">
                                <path d="M 218,141 A75 75 0 0 0 324,141 L 271,88 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="274" y="143" height="30" text-anchor="middle" font-size="25pt">Z-</text>
                            </a>
                        </g>
                    </svg>
                </div>

                <div class="col-12 d-sm-none text-center">
                    <svg height=360 width=168>
                        <g id="xy-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="xp">
                                <path d="M 27,31 A 75 75 0 0 0 27, 137 L 80,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="35" y="94" height="30" text-anchor="middle" font-size="25pt">X+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="xn">
                                <path d="M 141,137 A 75 75 0 0 0 141 31 L 88,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="138" y="94" height="30" text-anchor="middle" font-size="25pt">X-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="yn">
                                <path d="M 137,27, A 75 75 0 0 0 31,27 L 84,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="50" height="30" text-anchor="middle" font-size="25pt">Y-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="yp">
                                <path d="M 31,141 A 75 75 0 0 0 137,141 L 84,89 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="143" height="30" text-anchor="middle" font-size="25pt">Y+</text>
                            </a>
                        </g>

                        
                        <g id="rz-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="rp">
                                <path d="M 27,324 A75 75 0 0 1 27,218 L 80,271 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="35" y="281" height="30" text-anchor="middle" font-size="25pt">R+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="rn">
                                <path d="M 141,214 A75 75 0 0 1 141,324 L 88,271 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="138" y="281" height="30" text-anchor="middle" font-size="25pt">R-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="zp">
                                <path d="M 31,214 A75 75 0 0 1 137,210 L 84,267 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="236" height="30" text-anchor="middle" font-size="25pt">Z+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="XYZ" data-direction="zn">
                                <path d="M 137,328 A75 75 0 0 1 31,328 L 84,275 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="335" height="30" text-anchor="middle" font-size="25pt">Z-</text>
                            </a>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-none d-sm-block text-center">
                    <svg height=165 width=360>
                        <g id="J1J2-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j2p">
                                <path d="M 27,31 A 75 75 0 0 0 27,137 L 80,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="35" y="94" height="30" text-anchor="middle" font-size="25pt">J2+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j2n">
                                <path d="M 141,137 A 75 75 0 0 0 141 31 L 88,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="138" y="94" height="30" text-anchor="middle" font-size="25pt">J2-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j1n">
                                <path d="M 137,27, A 75 75 0 0 0 31,27 L 84,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="50" height="30" text-anchor="middle" font-size="25pt">J1-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j1p">
                                <path d="M 31,141 A 75 75 0 0 0 137,141 L 84,88 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="143" height="30" text-anchor="middle" font-size="25pt">J1+</text>
                            </a>
                        </g>

                        
                        <g id="J3J4-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j4p">
                                <path d="M 214,31 A75 75 0 0 0 214,137 L 267,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="222" y="94" height="30" text-anchor="middle" font-size="25pt">J4+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j4n">
                                <path d="M 328,137 A75 75 0 0 0 328,31 L 275,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="325" y="94" height="30" text-anchor="middle" font-size="25pt">J4-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j3n">
                                <path d="M 324,27 A75 75 0 0 0 218,27 L 271,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="274" y="50" height="30" text-anchor="middle" font-size="25pt">J3-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j3p">
                                <path d="M 218,141 A75 75 0 0 0 324,141 L 271,88 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="274" y="143" height="30" text-anchor="middle" font-size="25pt">J3+</text>
                            </a>
                        </g>
                    </svg>
                </div>

                <div class="col-12 d-sm-none text-center">
                    <svg height=360 width=168>
                        <g id="j1j2-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j2p">
                                <path d="M 27,31 A 75 75 0 0 0 27,137 L 80,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="35" y="94" height="30" text-anchor="middle" font-size="25pt">J2+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j2n">
                                <path d="M 141,137 A 75 75 0 0 0 141,31 L 88,84 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="138" y="94" height="30" text-anchor="middle" font-size="25pt">J2-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j1n">
                                <path d="M 137,27, A 75 75 0 0 0 31,27 L 84,80 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="50" height="30" text-anchor="middle" font-size="25pt">J1-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j1p">
                                <path d="M 31,141 A 75 75 0 0 0 137,141 L 84,88 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="143" height="30" text-anchor="middle" font-size="25pt">J1+</text>
                            </a>
                        </g>

                        
                        <g id="j3j4-controls">
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j4p">
                                <path d="M 27,324 A75 75 0 0 1 27,218 L 80,271 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="36" y="281" height="30" text-anchor="middle" font-size="25pt">J4+</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j4n">
                                <path d="M 141,218 A75 75 0 0 1 141,324 L 88,271 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="136" y="281" height="30" text-anchor="middle" font-size="25pt">J4-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j3n">
                                <path d="M 31,214 A75 75 0 0 1 137,214 L 84,267 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="238" height="30" text-anchor="middle" font-size="25pt">J3-</text>
                            </a>
                            <a class="btn-jog-operation" xlink:href="#" data-url="/controls/jog" data-use-ws="true" data-mode="ANGLE" data-direction="j3p">
                                <path d="M 137,328 A75 75 0 0 1 31,328 L 84,275 Z" fill="white" stroke="grey" stroke-width="2" />
                                <text x="84" y="333" height="30" text-anchor="middle" font-size="25pt">J3+</text>
                            </a>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <h4>Current Position</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <span id="curr-pose"></span>
                </div>
            </div>
            