
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Operate X-Axis</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                </div>
                <div class="col-6 text-center">
                </div>
            </div>